# Copyright (C) 2012 The Android Open Source Project
#
# USB configuration common for all android devices
#

on post-fs-data
    mkdir /data/misc/adb 02750 system shell
    mkdir /data/adb 0700 root root

on post-fs-data && property:sys.usb.configfs=0
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file

service adbd /system/bin/adbd --root_seclabel=u:r:su:s0
    class core
    socket adbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0

# Used to disable USB when switching states
on property:sys.usb.config=none && property:sys.usb.configfs=0
    stop adbd
    setprop sys.usb.state ${sys.usb.config}

# adb only USB configuration
# This is the fallback configuration if the
# USB manager fails to set a standard configuration
on property:sys.usb.config=adb && property:sys.usb.configfs=0
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp && property:sys.usb.configfs=0
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=0
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=0
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage && property:sys.usb.configfs=0
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,mass_storage,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}

# /* to process the usb port switch uevent in charger mode */
service hw_ueventd /system/bin/hw_ueventd
    class main
	seclabel u:r:hw_ueventd:s0
