on fs
    wait /dev/block/platform/hi_mci.0
    symlink /dev/block/platform/hi_mci.0 /dev/block/bootdevice

service oeminfo_nvm /system/bin/true
    disabled

on boot
    chown system system /sys/devices/platform/ff100000.hisi_usb/plugusb
    chmod 0660 /sys/devices/platform/ff100000.hisi_usb/plugusb

    # needed for vibration to sort of work
    write /sys/class/leds/vibrator/trigger timer
    write /sys/class/leds/vibrator/delay_off 1
