allow recovery default_prop:property_service { set };
allow recovery media_rw_data_file:file { getattr read open write setattr create };
allow recovery media_rw_data_file:dir { add_name getattr search write };
allow recovery cache_backup_file:dir { add_name getattr search write };
allow recovery cache_private_backup_file:dir { add_name getattr search write };
allow recovery system_data_file:dir { open search write };
allow recovery sysfs:file {write getattr open read};
allow recovery unencrypted_data_file:dir { open read getattr };
allow recovery unencrypted_data_file:file { open read getattr };
allow recovery recovery_data_file:dir { open read getattr search };
allow recovery recovery_data_file:file { getattr };
allow recovery bluetooth_data_file:dir { open read getattr search };
allow recovery bluetooth_data_file:file { getattr };
allow recovery bluetooth_logs_data_file:dir { open read getattr search };
allow recovery mtp_device:chr_file { read ioctl write };
allow recovery rootfs:dir { create add_name write };
allow recovery rootfs:file { create setattr write };
allow recovery rootfs:lnk_file { create };
allow recovery bootchart_data_file:dir { open read getattr };
allow recovery ashmem_libcutils_device:chr_file { execute };
allow recovery block_device:blk_file { ioctl };
allow recovery tmpfs:fifo_file { write create open read };
allow recovery recovery:capability { fsetid };
allow recovery kernel:system { module_request };
allow recovery exported_system_prop:property_service { set };
allow recovery configfs:file { create setattr write getattr };
